#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Developer SWF files
/src/main/resources/*.svg
/src/main/resources/*.sw.json
!/src/main/resources/actions.sw.json
!/src/main/resources/compensation.sw.json
!/src/main/resources/github_workflow.sw.json
!/src/main/resources/swf1.sw.json
